<header>
  <div class="container">
    <div class="row">
      <div class="col-md-4 logo">
        <span>Logo</span>
      </div>
      <div class="col-md-3 offset-md-1">
        <div class="search-input-container">
          <div class="search-icon">
            <fa name="search" style="color: white; font-size: 14px"></fa>
          </div>
          <div class="search-input">
            <input type="search" class=search-text placeholder="Search">
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="float-right">
          <fa name="bars" style="color: white"></fa>
        </div>
      </div>
    </div>
  </div>
</header>